span {
    cursor: pointer;
  }
  
  .js-font {
    //should probably set  the font-size to a px/rem/em instead of %
    &-decrease {
      font-size: 75%;
    }
    
    &-increase {
      font-size: 125%;
    }
  }